# 在不同的编辑器之间，规范编辑器的配置

# 读editorconfig的配置，读到这个文件就可以了，不要再往上读
root = true

# 给所有文件指定
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
